body{
    background-image: url(/public/img/bg.png);
}

.page{
    background: #fff;
    padding: 3px;
}


.header{
  background: url(/public/img/elements/bg-header.png);
    margin-bottom: 15px;
    height: 170px;
      background-size: cover;
}

.header .top-menu{
    background: rgba(17, 17, 17, 0.8);
}

.header .top-menu li a{
color: #fff;    
}

.header .logo{
        padding: 5px 15px;
}



ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}


.top-menu ul li a{
padding: 13px 7px;
    float: left;
font-size: 14px;
transition: 0.6s;
}

.top-menu ul li a:hover{
      background: #111111;
}

.top-menu ul li .current-link{
    background: #111111;
}

.form-search{
background: #004379;
border: 1px solid rgb(4, 41, 71);
padding: 7px 4px;
margin: 7px 5px 0 0;
color: #fff;
transition: 0.6s;
outline-color: #004379;
}



.form-search::placeholder{
    color: #fff;
}

.block-search{
    float: right;
    position: relative;
}

.btn-search{
    background: none;
    border: none;
    position: absolute;
    right: 3px;
    color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    top: 14px;
}

.clearfix{
    clear: both;
}

.white{
    color: #fff;
}


.top-servers .item{
    width: 187.6px;
    margin-right: 4px;
    background: rgb(17, 17, 17);
    margin-bottom: 10px;
    float: left;
    border: 2px solid black;
}


.top-servers .item:nth-child(5n){
    margin-right: 0px !important;
}


.top-servers .hostname, .top-servers .hostname a{
white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: center;
    padding: 4px 0;
    color: white;     
    border-bottom: 1px solid #fff;
}

.top-servers .item .image-map{
    position: relative;
    order-bottom: 1px solid #fff;
}

.top-servers .item .image-map .name-map{
    position: absolute;
      bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px 0;
    background: rgba(0, 0, 0, 0.57);
        color: #e2b32f;
}


.top-servers .item .image-map img{
    width: 100%;
    height: 120px;
}


.top-servers .players, .top-servers .address{
padding: 2px;
color: white;
text-align: center;
    border-bottom: 1px solid #fff;
}



.name-block{
     background: rgb(17, 17, 17);
     text-align: center;
     padding: 7px 0;
     margin: 5px 0;
     color: #fff;
     border-bottom: 2px solid black;
}


.head-block{
    color: white;
    background: #008bdb;
    padding: 5px 3px;
    border-radius: 3px;
	text-align: center;
}


.pagination .actual{
    color: black !important;
    background: #bd8c00;
}

.pagination a{
    background: #e2b32f;
    color: #fff;
    padding: 2px 7px;
    margin: 2px;
    border-radius: 0.25em;
}

.pagination a:hover{
    color: black !important;
}

.rating-bg{
background-color: #e2b32f;
    color: #fff;
    padding: 4px;
    border-radius: 0.25rem;
    font-size: 11px;
    line-height: 10px;
    margin: 0;
}

.example-color{
        display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    right: 3px;
    border: 1px solid #eee;
}

.listing-servers{
    margin:0;
    padding:0;    
}

.listing-servers li{
list-style: none;
}




.img-map{
    width: 175px;
    height: 120px;
        border: 2px solid black;
}

.footer{
    background: #111111;
    color: #fff;
    padding: 10px;
    margin-top:20px;
}






.my-servers-list .server-info{
    border:1px solid #6c757d;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
        background: #e9ecef;
        position: relative;
}


.my-servers-list .server-info .img img  {
    width: 160px;
    height: 110px;
    margin: 10px;
    border: 3px solid #bd8c00;
    border-radius: 3px;
}


.my-servers-list .server-info .img{
  width: 20%;
  float: left;
}

.my-servers-list .server-info .info-2{
    float: left;
    width: 38%;
       margin-top: 8px;
}

.my-servers-list .server-info .info ul li, .info-2 ul li{
        padding-bottom: 3px;
}

.my-servers-list .server-info .info{
    margin-top: 8px;
     width: 40%;
         float: left;
    }

.my-servers-list .server-info .btn-remove-server{
        float: right;
    margin: 3px;
    color: #f14040;
}



.menu-user li a{
          border: 1px solid #007bfc;
        padding: 4px !important;
}

.content{
    padding: 7px;
}

.hostname{
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.hostname-server{
         display: inline-block;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown-menu li a{
    color: #495057 !important;
    float: none !important;
    padding: 6px 8px !important;
    border-bottom: 1px solid #111;
    display: block;
}

.dropdown-menu li a:hover{
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu{
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.server-info {min-height:200px;}
.server-info .info-map{
    float: left;
    margin: 5px 0;
    width: 170px;
}

.server-info .info-text{
    margin: 10px 0px 10px 175px;
}

.server-info .info-text ul li{
        border-bottom: 1px dashed #dee2e6;
    padding: 3px 0;
}

.info-map img{
        width: 165px;
    height: 110px;
        float: left;
    border: 2px solid #008bdb;
	
}
.info-map p {
	margin: 4px;
	text-align: center;
}

.server-info .info-text .hostname{
    overflow: hidden;
        display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comments .comment{
    border-bottom: 1px solid #e9ecef;
}
.comments .comment :last-child{
    border: none;   
}


.comments .comment .img-user{
margin: 5px;
float: left;
width: 10%;
}

.comments .comment .img-user img{
    width: 50px;
    border-radius: 50%;
}

.comments .comment .text{
margin: 5px;
    float: left;
    position: relative;
    width: 86%;
    padding-bottom: 10px;
}

.comments .comment .date{
 position: absolute;
    bottom: 0;
    right: 0;
    background: #e9ecef;
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;

}

.comment:last-child{
    border: none;
}

.reviews-text p{
    text-align: justify !important;
}

.comments{
max-height: 400px;
overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  width: 10px;
}



/* Handle */
.comments::-webkit-scrollbar-thumb {
background: #212529;
}


.comments .comment .author{
background: #e9ecef;
padding: 3px;
border-radius: 3px;
font-size: 13px;
display: inline-block;
}

.table thead th{
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

.players-list{
        overflow-y: scroll;
    max-height: 360px;
}



.players-list::-webkit-scrollbar {
   width: 10px;
}


.players-list::-webkit-scrollbar-thumb {
background: #212529;
}

.uk-progress{-moz-box-sizing:border-box;box-sizing:border-box;height:20px;background:rgba(0, 0, 0, 0.03);overflow:hidden;line-height:20px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.06);border-radius:100px}*+.uk-progress{margin-top:15px}.uk-progress-bar{width:0;height:100%;background:#52a9ca;float:left;-webkit-transition:width 0.6s ease;transition:width 0.6s ease;font-size:12px;color:#fff;text-align:center;background-image:-webkit-linear-gradient(top, #66b2d1, #44a3c6);background-image:linear-gradient(to bottom,#66b2d1,#44a3c6)}.uk-progress-mini{height:6px}.uk-progress-small{height:12px}.uk-progress-success .uk-progress-bar{background-color:#6fc39b;background-image:-webkit-linear-gradient(top, #82d2ad, #63b98f);background-image:linear-gradient(to bottom, #82d2ad, #63b98f)}.uk-progress-warning .uk-progress-bar{background-color:#fea52a;background-image:-webkit-linear-gradient(top, #ffb23d, #fd9c1e);background-image:linear-gradient(to bottom, #ffb23d, #fd9c1e)}.uk-progress-danger .uk-progress-bar{background-color:#dd435c;background-image:-webkit-linear-gradient(top, #e55761, #d83558);background-image:linear-gradient(to bottom, #e55761, #d83558)}.uk-progress-striped .uk-progress-bar{background-image:-webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size:30px 30px}.uk-progress-striped.uk-active .uk-progress-bar{-webkit-animation:uk-progress-bar-stripes 2s linear infinite;animation:uk-progress-bar-stripes 2s linear infinite}@-webkit-keyframes uk-progress-bar-stripes{0%{background-position:0 0}100%{background-position:30px 0}}@keyframes uk-progress-bar-stripes{0%{background-position:0 0}100%{background-position:30px 0}}.uk-progress-mini,.uk-progress-small{border-radius:500px}
